* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 200px;
    padding: 15px 15px;
    border-right: 1px solid grey;
}

.Navbar a {
    text-decoration: none;
    color: black;
    padding: 34px 20px;
    border-right: 1px solid grey;   
}

.nav-btn button {
    background-color: purple;
    border: none;
    padding: 30px;
    color: white;
}

.nav-btn button span {
    font-weight: bold;
    color: yellow
}

.nav-btn button:hover {
    background-color: yellow;
    color: purple;
}

.nav-btn button span:hover {
    color: purple;
}