* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 250px;
    padding: 15px 65px 15px 15px;
    border-right: 1px solid grey;
}

.Navbar a {
    text-decoration: none;
    color: black;
    padding: 34px 20px;
    border-right: 1px solid grey;   
}

.Navbar a:hover {
    background-color: yellow;
}

.nav-btn button {
    background-color: purple;
    border: none;
    padding: 30px;
    color: white;
}

.nav-btn button span {
    font-weight: bold;
    color: yellow
}

.nav-btn button:hover {
    background-color: yellow;
    color: purple;
}

.nav-btn button span:hover {
    color: purple;
}

.cart-container {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    gap: 40px;
    
}

.cart-container img {
    width: 300px;
    height: 250px;
}

.cart-container h4 {
    color: purple;
    margin-top: 20px;
}

.bank-catagories {
    background-color: #701E7D;
    color: white;
    margin-top: 30px;
}

.franchise {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    margin: 0 auto;
    width: 70%;
    gap: 10px;

}

.bank-img {
    font-size: 60px;
    background-color: #87428E;
    border-radius: 100%;
    padding: 60px 50px 60px 50px;
    color: white;
    width: 200px;

    text-align: center;
}

.franchise h5 {
    margin-top: 20px;
}

.award-container {
    background-color: #EBEBEB;
    color: #712789;
    text-align: center;
}

.award-container a {
    text-decoration: none;
    color: #712789;
}

.Service-container a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #712789;
    font-weight: bold;
}

.row {
    background-color: #701E7D;
}

.row a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.container-footer ul li {
    list-style: none;
    font-size: 12px;
    
}
.container-footer h5 {
    font-weight: bold;
    font-size: 15px;
   margin: 0 auto;
}

.Footer {
    background-color: #712789;
    color: white;
    display: flex;
    justify-content: space-between;
}

